services:

  redis:
    image: "redis:${REDIS_VERSION}"
    container_name: "chat_redis"
    restart: "unless-stopped"
    labels:
      - "traefik.enable=false"
    networks:
      chat-local:
        ipv4_address: 10.1.0.2

  postgres:
    image: "postgres:${POSTGRES_VERSION}"
    container_name: "chat_postgres"
    restart: "unless-stopped"
    env_file:
      - "postgres.env"
    volumes:
      - "./data/postgres/data:/var/lib/postgresql/data"
      - "./postgres_init:/docker-entrypoint-initdb.d"
    labels:
      - "traefik.enable=false"
    networks:
      chat-local:
        ipv4_address: 10.1.0.3

  synapse:
    image: "matrixdotorg/synapse:${SYNAPSE_VERSION}"
    container_name: "chat_synapse"
    restart: "unless-stopped"
    env_file:
      - "synapse.env"
    expose:
      - 8008
      - 8448
      - 8009
    volumes:
      - "./matrix_synapse:/data"
      - "./data/synapse/logs:/synapse_logs"
    labels:
      - "traefik.enable=false"
    depends_on:
      - redis
      - postgres
    extra_hosts:
      - "V_MAIN_DOMAIN:10.0.0.2"
      - "chat.V_MAIN_DOMAIN:10.0.0.2"
      - "auth.chat.V_MAIN_DOMAIN:10.0.0.2"
      - "ntfy.V_MAIN_DOMAIN:10.0.0.2"
    networks:
      chat-local:
        ipv4_address: 10.1.0.4
      edge:
        ipv4_address: 10.0.0.3

  matrix:
    image: "nginx:latest"
    container_name: "chat_matrix"
    restart: "unless-stopped"
    volumes:
      - "./matrix_www/nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./matrix_www/www:/var/www/"
    expose:
      - 80
    labels:
      - "traefik.enable=false"
    depends_on:
      - synapse
    networks:
      chat-local:
        ipv4_address: 10.1.0.5
      edge:
        ipv4_address: 10.0.0.4

  web:
    image: "nginx:latest"
    container_name: "chat_element"
    volumes:
      - "./element/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
      - "./element/www:/usr/share/nginx/html:ro"
    expose:
      - 80
    labels:
      - "traefik.enable=false"
    networks:
      edge:
        ipv4_address: 10.0.0.5

  coturn:
    image: "coturn/coturn:${COTURN_VERSION}"
    container_name: "chat_coturn"
    restart: "unless-stopped"
    labels:
      - "traefik.enable=false"
    volumes:
      - "./coturn/turnserver.conf:/etc/coturn/turnserver.conf"
    ports:
      - "49160-49200:49160-49200/udp"
      - "3478:3478"
      - "5349:5349"
    networks:
      edge:
        ipv4_address: 10.0.0.16

  sliding-sync:
    image: "ghcr.io/matrix-org/sliding-sync:${SYNC_VERSION}"
    container_name: "chat_sliding_sync"
    restart: "unless-stopped"
    env_file:
      - "sync.env"
    expose:
      - "8008"
    labels:
      - "traefik.enable=false"
    depends_on:
      - synapse
    networks:
      chat-local:
        ipv4_address: 10.1.0.6
      edge:
        ipv4_address: 10.0.0.6

  mas:
    image: "ghcr.io/ac-lover/matrix-authentication-service:${MAS_VERSION}"
    container_name: "chat_mas"
    restart: "unless-stopped"
    env_file:
      - "mas.env"
    expose:
      - "8080"
      - "8081"
    labels:
      - "traefik.enable=false"
    volumes:
      - "./mas:/data"
    networks:
      chat-local:
        ipv4_address: 10.1.0.7
      edge:
        ipv4_address: 10.0.0.7

  synapse-admin:
    image: awesometechnologies/synapse-admin
    container_name: "chat_synapse_admin"
    restart: unless-stopped
    expose:
      - 80
    labels:
      - "traefik.enable=false"
    networks:
      edge:
        ipv4_address: 10.0.0.10

  ntfy:
    image: binwiederhier/ntfy
    container_name: "chat_ntfy"
    command:
      - serve
    environment:
      - NTFY_BASE_URL=https://ntfy.V_MAIN_DOMAIN
      - NTFY_CACHE_FILE=/var/cache/ntfy/cache.db
      - NTFY_AUTH_FILE=/var/cache/ntfy/auth.db
      - NTFY_AUTH_DEFAULT_ACCESS=deny-all
      - NTFY_BEHIND_PROXY=true
      - NTFY_ATTACHMENT_CACHE_DIR=/var/cache/ntfy/attachments
      - NTFY_ENABLE_LOGIN=true
    volumes:
      - ./ntfy/cache:/var/cache/ntfy
      - ./ntfy/config:/etc/ntfy
    restart: unless-stopped
    networks:
      edge:
        ipv4_address: 10.0.0.12

  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit
    command: --config /config.yaml
    volumes:
      - ./livekit/livekit.yaml:/config.yaml
    restart: unless-stopped
    ports:
      - 7881:7881
      - 50000-50200:50000-50200/udp
    networks:
      edge:
        ipv4_address: 10.0.0.13

  element-call:
    image: ghcr.io/element-hq/element-call:latest
    container_name: element-call
    volumes:
      - ./element_call/config.json:/usr/share/nginx/html/config.json
    restart: unless-stopped
    networks:
      edge:
        ipv4_address: 10.0.0.14

  lk-jwt-service:
    image: ghcr.io/element-hq/lk-jwt-service:0.2.2
    container_name: lk-jwt-service
    environment:
      - LIVEKIT_URL=wss://video.chat.V_MAIN_DOMAIN
      - LIVEKIT_KEY=V_LIVEKIT_API_KEY
      - LIVEKIT_SECRET=V_LIVEKIT_API_SECRET
      - MATRIX_URL=http://synapse:8008
    extra_hosts:
      - "V_MAIN_DOMAIN:10.0.0.2"
      - "chat.V_MAIN_DOMAIN:10.0.0.2"
      - "video.chat.V_MAIN_DOMAIN:10.0.0.2"
    restart: unless-stopped
    networks:
      edge:
        ipv4_address: 10.0.0.15
      chat-local:
        ipv4_address: 10.1.0.15

  mail:
    container_name: chat_test_mail
    image: mailhog/mailhog
    expose:
      - 8025
      - 1025
    ports:
      - 8025:8025
    networks:
      chat-local:
        ipv4_address: 10.1.0.8
      edge:
        ipv4_address: 10.0.0.8
networks:
  chat-local:
    driver: "bridge"
    ipam:
      driver: "default"
      config:
        - subnet: "10.1.0.0/24"
  edge:
    external: true
